* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  user-select: none;
}
@font-face {
  font-family: "Upheaval";
  src: url("./assets/upheavtt.ttf") format("truetype");
  /* Vous pouvez également spécifier les autres formats de police ici, si nécessaire. */
}
@font-face {
  font-family: "VCR OSD Mono";
  src: url("./assets/VCR_OSD_MONO_1.001-1.ttf") format("truetype");
  /* Vous pouvez également spécifier les autres formats de police ici, si nécessaire. */
}
@font-face {
  font-family: "Minecraft";
  src: url("./assets/Minecraft.ttf") format("truetype");
  /* Vous pouvez également spécifier les autres formats de police ici, si nécessaire. */
}
body {
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 650px;
  width: 100vw;
  background: linear-gradient(to top, #021334, #010e28);
  display: grid;
  overflow: hidden;
  box-shadow: 5px 0px 5px black;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 50% 30%;
  background-image: url(./assets/Capture\ d’écran\ 2023-08-11\ à\ 11.26.00.png);
  background-size: cover;
}
.circle {
  position: relative;
  height: 270px;
  width: 270px;
  background-color: rgba(0, 0, 255, 0);
  border-radius: 50%;
  margin-top: 230px;
  margin-left: 110px;
  animation: turn 90s infinite;
}
@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.satelit {
  height: 3em;
  /* position: absolute; */
}
.header_title {
  grid-column: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 470px;
  left: 140px;
  z-index: 99999;
  width: 100%;
}
.title {
  font-size: 3em;
  color: #f1f1e6;
  font-family: Tektur;
  text-align: justify;
  font-weight: 900;
  width: 100%;
  line-height: 20px;
  text-shadow: 0px 0px 130px white;
}
.title span {
  font-size: 0.3em;
  color: #f1f1e6;
  font-family: Kanit;
  font-weight: 200;
  width: 100%;
  letter-spacing: 3px;
  border-bottom: solid 1px orange;
}
.subtitle {
  font-size: 1em;
  color: #f1f1e6;
  font-family: Kanit;
  letter-spacing: 5px;
  margin-top: -40px;
}

.header_menu {
  grid-column: 1/4;
  grid-row: 1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  height: 150px;
}
.menu-icon {
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  visibility: hidden;
}
.menu_title {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-family: Agdasima;
  font-weight: 100;
  transform: translateX(0px);
  text-shadow: 0px 0px 100px white;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
}
.menu_title:hover {
  color: #fddd55;
  border-bottom: #6ffca4 solid 2px;
  /* border-radius: 10px; */
}

.container-promiseValue {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
  height: 110%;
  /* z-index: 9999999; */
  margin-top: 50px;
  margin-left: 120px;
}
.promise {
  color: #f1f1e6;
  font-weight: 300;
  font-size: 1.8em;
  font-family: Kanit;
  line-height: 40px;
  text-transform: uppercase;
}
.promise-subTitle {
  color: #f1f1e6;
  font-size: 1em;
  font-family: Kanit;
}
.socialPromise {
  color: #dd7062;
  font-size: 0.8em;
  font-family: Kanit;
  margin-bottom: 40px;
}
.promiseValue-cta {
  background-color: #dd7062;
  color: #f1f1e6;
  font-weight: 100;
  font-size: 1.1em;
  padding: 15px;
  font-family: Kanit;
  font-weight: 500;
  border-radius: 3%;
  z-index: 9999999;
  border: none;
  transition: 0.3s ease-in-out;
}
.promiseValue-cta:hover {
  /* background-color: #FDB05A;
  color: black; */
  transform: scale(1.1);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ELEMENTS HEADER */

.rocket {
  height: 45px;
}
.rocket_wrapper {
  z-index: 999;
  position: absolute;
  top: 93%;
  left: 60%;
  animation: rocketDecollage 10s;
  animation-timing-function: cubic-bezier(0.96, -0.01, 0, 1.3);
}
.rocket_wrapper::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 10px;
  top: 40px;
  left: 18px;
  border-radius: 30%;
  background: linear-gradient(to top, blue, orange, transparent);
  z-index: 990;
  transform: rotate(182deg);
  filter: blur(3px);
}
.stars {
  box-shadow: 0px 0px 40px 1px rgb(255, 255, 198);
  position: absolute;
  background-color: rgb(255, 255, 26);
  height: 1px;
  border-radius: 50%;
  z-index: O;
}
.desert {
  grid-column: 1/4;
  position: absolute;
  width: 100%;
  height: 20%;
  margin-top: 568px;
  z-index: 3;
}

.moon {
  position: absolute;
  height: 70%;
  z-index: 2;
  left: 0px;
  top: 80%;
  grid-column: 1;
}

/* SECTION FEATURES AND BENEFITS */
/* ######################################## */
/* ######################################## */
/* ######################################## */

.section-featuresBenefits {
  background: linear-gradient(to left, rgb(1, 11, 31), rgba(2, 19, 52, 1));
  margin-top: 10px;
  box-shadow: 3px 0px 5px black;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  width: 100vw;
  overflow: hidden;
}

.featuresBenefits-h2 {
  margin-top: 40px;
  color: white;
  font-family: Kanit;
  font-size: 5em;
  font-weight: 400;
  transform: translateX(2000px);
  background-color: #d1a617;
  text-shadow: 2px 3px 10px #392d06;
  /* padding: 40px; */
}
.featuresBenefits-h3 {
  color: white;
  font-family: Kanit;
  font-size: 2em;
  font-weight: 100;
  transform: translateX(-1000px);
  margin-top: 50px;
  text-transform: uppercase;
}
.featuresBenefits-h4 {
  color: white;
  font-family: Kanit;
  font-size: 3em;
  font-weight: 700;
  transform: translateX(1500px);
  text-transform: capitalize;
}

.container-features {
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-left: 140px;
  margin-bottom: 50px;
}
.wrapper-features1,
.wrapper-features2,
.wrapper-features3 {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}
.feature {
  font-family: Kanit;
  font-weight: 500;
  color: #a3a098;
  font-size: 1.8em;
}
.benefit {
  font-family: Kanit;
  font-weight: 200;
  width: 60%;
  color: white;
}

.wrapper-features-img1 {
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.features-img1 {
  position: absolute;
  background-image: url(./assets/pngegg\ -\ 2023-08-05T212123.499.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: #d1a617 solid 3px;
  transform: rotate(0deg);
  z-index: 99;
}
.backgroundColor-features-img1 {
  position: absolute;
  top: 0px;
  transform: translateX(150px);
  background: linear-gradient(#021334, #5d84d2);
  height: 200px;
  width: 200px;
  z-index: 0;
  border-radius: 50%;
}
.wrapper-features-img2 {
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 0;
  transition: 0.5s ease-in-out;
}

.features-img2 {
  position: absolute;
  background-image: url(./assets/pngegg\ -\ 2023-08-03T233538.155.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: #d1a617 solid 3px;
  transform: rotate(25deg);
  z-index: 99;
}
.backgroundColor-features-img2 {
  position: absolute;
  top: 0px;
  transform: translateX(150px);
  background: linear-gradient(#021334, #a80606);
  height: 200px;
  width: 200px;
  z-index: 0;
  border-radius: 50%;
}
.wrapper-features-img3 {
  overflow: hidden;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 0;
  transition: 0.5s ease-in-out;
}
/* .wrapper-features-img3:hover {
  transform: scale(1.1);
} */
.features-img3 {
  position: absolute;
  background-image: url(./assets/pngegg\ -\ 2023-08-04T085131.593.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: #d1a617 solid 3px;
  z-index: 99;
}
.backgroundColor-features-img3 {
  position: absolute;
  top: 0px;
  transform: translateX(150px);
  background: linear-gradient(#021334, #0de126);
  height: 200px;
  width: 200px;
  z-index: 0;
  border-radius: 50%;
}

.img-wrapperFeatures2 {
  height: auto;
  width: 100px;
  transform: rotate(20deg);
  border-radius: 50%;
  border: #d1a617 2px solid;
  padding: 20px;
  margin-bottom: 20px;
}
.img-wrapperFeatures3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: #d1a617 2px solid;
  padding: 20px;
  margin-bottom: 20px;
}

/* SECTION CTA*/
/* ######################################## */
/* ######################################## */
/* ######################################## */

.sectionCTA {
  margin-top: 10px;
  min-height: 500px;
  margin-bottom: 10px;
  background-image: url("./assets/pngegg\ \(72\).png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(100%);
  background-color: #021334;
  box-shadow: 3px 0px 5px black;
  width: 100vw;
  overflow: hidden;
}

.marquee_wrapper {
  background-color: transparent;
  display: flex;
  overflow: hidden;
  align-items: center; /* gap: 50px; */
  padding: 40px;
  z-index: 99999;
}

.marquee_txt {
  margin-top: 40px;
  font-size: 5em;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: Big Shoulders text;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #dd7062;
  animation: marquee 5s linear infinite;
  padding: 20px;
  z-index: 99999;
  margin-bottom: 40px;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee_txt span {
  font-weight: 900;
  color: transparent;
}

.sectionA_container_services {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin-top: 250px;
  height: 100%;
}
.sectionA-wrapper-services {
  background-color: #d1a617b7;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 5px rgb(73, 73, 73);
  backdrop-filter: blur(8px);
  padding: 30px;
}
.sectionA-wrapper-services:hover {
  background-color: #d1a617;
}
.sectionA_title {
  font-family: Kanit;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
}
.sectionA_title:hover {
  background-color: transparent;
  color: white;
}
.sectionA-titles-p {
  font-family: Kanit;
  font-size: 1em;
  color: white;
  padding: 5%;
}
.sectionA-buttons {
  background-color: #dd7062;
  width: 30%;
  height: 5em;
  border: solid white 2px;
  border-radius: 10px;
  transition: 0.7s ease-in-out;
}
.sectionA-buttons:hover {
  transform: scale(1.1);
}

/* SECTION SOCIAL-PROOF */
/* ######################################## */
/* ######################################## */
/* ######################################## */

.section-socialProof {
  background: linear-gradient(to left, rgb(1, 11, 31), rgba(2, 19, 52, 1));
  min-height: 500px;
  color: #ffffff;
  margin-top: 10px;
  box-shadow: 3px 0px 5px black;
  width: 100vw;
  overflow: hidden;
}

.auto_text {
  display: flex;
  justify-content: center;
  color: #d1a617;
  font-family: Minecraft;
  text-transform: uppercase;
  font-size: 1.2em;
  animation: autoTxt 10s steps(50);
  overflow: hidden;
  white-space: wrap;
  text-shadow: 0px 0px 60px rgb(158, 158, 251);
  width: 100%;
  height: 50px;
  border-right: 1px white solid;
  letter-spacing: 5px;
  margin-top: 50px;
  padding: 30px;

}

.container-socialProof {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  padding: 30px;
  height: 100%;
}
.container-socialProofA,
.container-socialProofB {
  display: flex;
  padding: 20px;
  gap: 30px;
}
.wrapper-socialProof1,
.wrapper-socialProof2,
.wrapper-socialProof3 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  font-family: Kanit;
  font-weight: 200;
  text-align: justify;
}

/* FOOTER*/
/* ######################################## */
/* ######################################## */
/* ######################################## */

footer {
  width: 100vw;
  overflow: hidden;
}
.footer-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
  align-items: center;
  font-family: Kanit;
  color: white;
  background: linear-gradient(to top, #021334, #010e28);
  box-shadow: 3px 0px 5px black;
}

.footer-title {
  font-size: 3em;
  color: #f1f1e6;
  font-family: Tektur;
  text-align: center;
  font-weight: 900;
  width: 100%;
  line-height: 30px;
  text-shadow: 0px 0px 130px white;
  margin-bottom: 30px;
}
.footer-title span {
  font-size: 0.5em;
  color: #f1f1e6;
  font-family: Kanit;
  text-align: center;
  font-weight: 100;
  width: 100%;
  line-height: 20px;
  text-shadow: 0px 0px 130px white;
  border-bottom: solid 1px orange;
}
.contact-footer {
  cursor: pointer;
  color: orange;
}
.contact-footer:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.container-footer-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  height: 100%;
}
.container-footer-title p {
  font-size: 1em;
  color: #f1f1e6;
  font-family: Kanit;
  text-align: center;
  font-weight: 300;
  width: 100%;
  margin-top: 20px;
}
.social-icon {
  font-size: 2em;
  color: #dd7062;
  padding: 10px;
  transition: 0.2s ease-in-out;
}
.social-icon:hover {
  color: #5951d2;
  padding: 10px;
}
nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: justify;
  margin-bottom: 20px;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: 200;
}
.footer-link:hover {
  color: orange;
  text-decoration: none;
}

/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## *
/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## *
/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## */
/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## *
/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## *
/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## */

@media screen and (max-width: 770px) {
  header {
    position: relative;
    height: 650px;
    width: 100vw;
    /* background: linear-gradient(to top, #021334, #010e28); */
    display: grid;
    overflow: hidden;
    box-shadow: 5px 0px 5px black;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 40% 30%;
    background-image: url(./assets/Capture\ d’écran\ 2023-08-11\ à\ 11.26.00.png);
    background-size: cover;
  }
  .header_title {
    grid-row: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70px;
    left: 100px;
    z-index: 99999;
    width: 100%;
  }
  .menu-icon {
    color: white;
    position: absolute;
    top: 30px;
    left: 20px;
    visibility: visible;
    z-index: 99999999999999999;
  }
  .header_menu {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    transform: translateY(-150px);
    transition: transform 3s ease-in-out;
    z-index: 999999999;
  }
  .menu_title {
    font-size: 1.1em;
    line-height: 30px;
  }
  .container-promiseValue {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: -70px;
    margin-left: 0px;

    z-index: 9999;
  }
  .wrapper-socialPromise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .promise {
    color: #f1f1e6;
    font-weight: 500;
    font-size: 1em;
    font-family: Kanit;
    line-height: 40px;
    text-transform: uppercase;
    width: 100%;
    visibility: hidden;
  }
  .promise-subTitle {
    color: #f1f1e6;
    font-size: 1em;
    font-family: Kanit;
    text-align: center;
    margin-bottom: 20px;

    visibility: hidden;
  }
  .socialPromise {
    color: #dd7062;
    font-size: 0.8em;
    font-family: Kanit;
    margin-bottom: 40px;
    text-align: center;
  }
  .promiseValue-cta {
    background-color: #dd7062;
    color: #f1f1e6;
    font-weight: 100;
    font-size: 1.1em;
    padding: 10px;
    font-family: Kanit;
    font-weight: 500;
    z-index: 9999999;
    border: none;
    transition: 0.3s ease-in-out;
    z-index: 9999999;
  }
  .promiseValue-cta:hover {
    /* background-color: #FDB05A;
  color: black; */
    transform: scale(1.1);
  }
  .moon {
    position: absolute;
    height: 70%;
    z-index: 2;
    left: -50px;
    top: 80%;
    grid-column: 1;
  }
  .rocket {
    height: 30px;
  }
  .rocket_wrapper {
    z-index: 999;
    position: absolute;
    top: 95%;
    left: 60%;
    animation: rocketDecollage 10s;
    animation-timing-function: cubic-bezier(0.96, -0.01, 0, 1.3);
  }
  .rocket_wrapper::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 10px;
    top: 30px;
    left: 10px;
    border-radius: 30%;
    background: linear-gradient(to top, blue, orange, transparent);
    z-index: 990;
    transform: rotate(182deg);
    filter: blur(3px);
  }
  .featuresBenefits-h2 {
    font-size: 4em;
  }
  .featuresBenefits-h3 {
    font-size: 2em;
  }
  .featuresBenefits-h4 {
    font-size: 3em;
  }
  .section-featuresBenefits {
    background: linear-gradient(to left, rgb(1, 11, 31), rgba(2, 19, 52, 1));
    color: #ffffff;
    margin-top: 10px;
    box-shadow: 3px 0px 5px black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    /* width: 100vw; */
  }
  .container-features {
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
  }
  .auto_text {
    color: #d1a617;
    font-family: Minecraft;
    text-transform: uppercase;
    font-size: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 0px 0px 60px rgb(158, 158, 251);
    margin-left: 50px;
    width: 100%;
    height: 50px;
    padding: 70px;
    letter-spacing: 5px;
  }
  .sectionA_title {
    font-size: 2em;
  }
  .footer-link {
    color: white;
    text-decoration: none;
  }
  .footer-link:hover {
    color: orange;
    text-decoration: none;
  }
  nav {
    align-items: center;
    font-weight: 200;
  }
  .marquee_txt {
    font-size: 2em;
  }
}
