* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  user-select: none;
}
@font-face {
  font-family: "Upheaval";
  src: url("./assets/upheavtt.ttf") format("truetype");
  /* Vous pouvez également spécifier les autres formats de police ici, si nécessaire. */
}
@font-face {
  font-family: "VCR OSD Mono";
  src: url("./assets/VCR_OSD_MONO_1.001-1.ttf") format("truetype");
  /* Vous pouvez également spécifier les autres formats de police ici, si nécessaire. */
}

header {
  position: relative;
  height: 650px;
  width: 100vw;
  background-color: #001540;
  display: grid;
  overflow: hidden;
  box-shadow: 5px 0px 5px black;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 30% 30% 40%;
}
.header_title {
  grid-column: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 470px;
  left: 140px;
  z-index: 99999;
  width: 100%;
}
.title {
  font-size: 3em;
  color: white;
  font-family: Tektur;
  text-align: justify;
  font-weight: 900;
  width: 100%;
  line-height: 20px;
  text-shadow: 0px 0px 130px white;
}
.title span {
  font-size: 0.3em;
  color: white;
  font-family: Manrope;
  font-weight: 900;
  width: 100%;
  letter-spacing: 3px;
  border-bottom: solid 1px orange;
}
.subtitle {
  font-size: 1em;
  color: white;
  font-family: lato;
  letter-spacing: 5px;
  margin-top: -40px;
}
.header_menu_invisible {
  visibility: hidden;
}
.menu_title {
  color: white;
  font-size: 1.4em;
  font-family: Agdasima;
  font-weight: 200;
  transform: translateX(0px);
  text-shadow: 0px 0px 100px white;
  line-height: 60px;
  text-align: center;
}
.menu_title:hover {
  color: #FDDD55;
  border-bottom:#6FFCA4 solid 5px;
  border-radius: 10px;
  /* animation: menu_title_animation 0.2s ease-in-out;
  animation-delay: 0.8s; */
}

@keyframes menu_title_animation {
  0%,
  100% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
}

.header_menu {
  grid-column: 1/4;
  grid-row: 1;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  width: 100%;
  z-index: 99999;
  visibility: visible;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 1s;

}

.satelit {
  position: absolute;
  grid-column: 2;
  height: 13%;
  transition: 0.2s ease-in-out;
  margin-top: 220px;
  margin-left: 100px;
  transform: translateX(0px);
  z-index: 999999;
  animation: bounce 5s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-30px);
  }
}
@keyframes noBounce {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(0px);
  }
}

.rocket {
  height: 45px;
}
.rocket_wrapper {
  z-index: 999;
  position: absolute;
  top: 93%;
  left: 60%;
  animation: rocketDecollage 10s;
  animation-timing-function: cubic-bezier(0.96, -0.01, 0, 1.3);
}
.rocket_wrapper::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 10px;
  top: 40px;
  left: 18px;
  border-radius: 30%;
  background: linear-gradient(to top, blue, orange, transparent);
  z-index: 990;
  transform: rotate(182deg);
  filter: blur(3px);
}
.stars {
  box-shadow: 0px 0px 40px 1px rgb(255, 255, 198);
  position: absolute;
  background-color: rgb(255, 255, 26);
  height: 1px;
  border-radius: 50%;
  z-index: O;
}
.desert {
  grid-column: 1/4;
  position: absolute;
  width: 100%;
  height: 20%;
  margin-top: 560px;
  z-index: 3;
}

.moon {
  position: absolute;
  height: 70%;
  z-index: 2;
  left: 0px;
  top: 80%;
  grid-column: 1;
}

/* ######################################## */
/* ######################################## */

.sectionA {
  margin-top: 10px;
  min-height: 500px;
  margin-bottom: 10px;
  background-image: url("./assets/pngegg\ \(72\).png");
  background-size: contain;
  background-position: center;
  /* background-repeat: no-repeat; */
  filter: saturate(100%);
  background-color: orange;
  box-shadow: 3px 0px 5px black;
}

.marquee_wrapper {
  background-color: transparent;
  display: flex;
  overflow: hidden;
  align-items: center; /* gap: 50px; */
  padding: 40px;
  z-index: 99999;
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.marquee_txt {
  margin-top: 40px;
  font-size: 6em;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: Big Shoulders text;
  letter-spacing: 1px;
  color: transparent;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #ffffff;
  animation: marquee 10s linear infinite;
  padding: 20px;
  z-index: 99999;
  margin-bottom: 40px;
}

.marquee_txt span {
  font-weight: 900;
  color: transparent;
}

.sectionA_container_titles {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 200px;
  height: 30%;
}
.sectionA_title {
  font-family: Agdasima;
  font-size: 3.4em;
  color: rgb(13, 50, 111);
  background-color: rgba(229, 24, 24, 0.581);
  padding: 50px;
  backdrop-filter: blur(1px);
  text-transform: capitalize;
  transition: 0.2s ease-in-out;
  box-shadow: 1px 2px 5px rgb(73, 73, 73);
}
.sectionA_title:hover {
  background-color: rgba(3, 33, 84, 0.54);
  color: white;
}

/* ######################################## */
/* ######################################## */

.sectionB {
  background-color: rgb(5, 5, 57);
  height: 1000px;
  width: 100vw;
  background-color: rgb(5, 0, 73);
  overflow: hidden;
}

.balançoire {
  height: 500px;
  margin-left: -50px;
  margin-top: -200px;
  animation: balancement 5s infinite;
}
.viseur {
  height: 100px;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 330px;
}
.container_textZone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 200px;
}

.auto_text {
  color: rgb(255, 255, 255);
  font-family: Upheaval;
  font-size: 1.5em;
  /* border-right: 1px solid rgb(137, 137, 243); */
  animation: autoTxt 4s steps(50);
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 0px 0px 60px rgb(158, 158, 251);
  margin-left: 10px;
  width: auto;
  z-index: 2;
}

@keyframes autoTxt {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

.container_buttons {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-around;
}

.button_astonaut_choice {
  border: none;
  width: 10%;
  color: white;
  font-family: Agdasima;
  padding: 20px;
  border-radius: 20px 20px 10px 10px;
  background: linear-gradient(to right, blue 10%, rgb(9, 12, 184));
  box-shadow: 0px 0px 10px yellow;
}
.button_astonaut_choice {
}
.screen-controller {
  margin-top: -100px;
}

/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## *
/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## *
/* #######################################################################################################################################################@####*/
/* ############################################################################################################################################################@ */
/* ############################################################################################################################################################## */

@media screen and (max-width: 770px) {
  header {
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  .satelit {
    height: 80px;
    width: 80px;
    margin-top: -270px;
  }
  .moon {
    top: 0px;
    left: 0px;
    height: 0%;
  }

  .header_title {
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    margin-left: 40px;
    z-index: 9999999;
    width: 400px;
  }
  .title {
    font-size: 2.7em;
    line-height: 17px;
  }
  .title span {
    font-size: 0.3em;
    color: white;
    font-family: Bebas Neue;
    text-align: justify;
    font-weight: 900;
    width: 100%;
    letter-spacing: 3px;
    border-bottom: solid 1px orange;
  }

  .subtitle {
    width: 100%;
    font-size: 0.7em;
    letter-spacing: 3px;
  }
  .header_menu {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 240px;
    width: 23%;
    height: auto;
    z-index: 99999;
    visibility: visible;
    margin-top: -200px;
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 1s;
  }
  .menu_title {
    width: 100%;
    color: white;
    font-size: 1em;
    font-family: Agdasima;
    font-weight: 200;
    transform: translateX(0px);
    text-shadow: 0px 0px 100px white;
    line-height: 50px;
  }
  .marquee_txt {
    margin-top: 40px;
    font-size: 6em;
  }
  .sectionA {
    margin-top: 10px;
    min-height: 500px;
    margin-bottom: 10px;
    background-image: url("./assets/pngegg\ \(72\).png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: saturate(100%);
    background-color: orange;
    box-shadow: 3px 0px 5px black;
  }
  .sectionA_container_titles {
    display: grid;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
    height: auto;
  }
  .sectionA_title {
    font-family: Agdasima;
    font-size: 1.8em;
    padding: 30px;
  }
}

/* ######################################## */
/* 
.sectionB {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url("");
  padding: 40px;
  opacity: 0.2;
  background-color: rgb(227, 133, 18);
}
.container_circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: rgb(11, 19, 142);
  box-shadow: 0px 2px 5px black, 0px -2px 5px black, 0px 2px 5px black, 0px -2px 5px black;
}
.wrapper_container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sectionB_wrapperContainers123 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 50px;
}
.sectionB_wrapperContainers456 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 50px;
}
.sectionB_title {
  font-size: clamp(4em, 5vw, 5em);
  font-family: Big Shoulders Text;
  padding: 40px;
  margin-left: 50px;
} */
